@import '../../index.scss';

.main-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.main-content_titles {
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    font-weight: 300;
  }
  span {
    font-size: 40px;
  }
}

.covers {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 50px;
  @include sm {
    padding: 0 80px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg {
    padding: 0 80px;
    grid-template-columns: repeat(4, 1fr);
  }
  // @include xl {
  //   padding: 0 100px;
  //   grid-template-columns: repeat(4, 1fr);
  // }
}

.live-tv__content {
  padding: 80px 40px;

  @include lg {
    padding: 80px 240px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .title_live-tv {
    font-size: 38px;
    font-weight: 600;
  }
  .paragraph {
    font-weight: 300;
  }
  .btn {
    min-width: 240px;
  }
  .paragraph_sub {
    padding-top: 10px;
    font-size: 9px;
    font-weight: 200;
    color: lightgray;
  }
}
